<!DOCTYPE html>
 {% load staticfiles %}
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title>MeetHere缘分来了</title>
	<style type="text/css">
		.register{
			color:#E15F63;
			font-size:15px;
		}
		.BB{
			color:#FF0033;
			font-size:15px;
		}
	</style>
	<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#id_name').click(function(){
				//alert("ok");
				//$('.register').css("color" ,"#FF0033");
				//$("#id_name").prev().removeClass().addClass("BB")
			})
		})
	</script>
 <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 <link href="navbar-static-top.css" rel="stylesheet">
 <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
 <style>
#sub{width:100px;height:35px;line-height:35px;background:transparent url(/static/img/bg2.jpg) no-repeat;border:none;}
#center{text-align:center;}
body{
              background-image: url(/static/img/abj2.jpg);
              background-size:cover;
              background-color: #FFB5B5; 
         }

</style>	
</head>

<body> 
<div class="container">
   <a href="/project_1/test/"><h1><b style= "color : #FF0033">meethere缘分来了</b></h1></a>
     <hr class="featurette-divider">

	<script type="text/javascript" src="/static/js/test.js"></script> 
	<form class="form-horizantal" id="Register" method="post" action="">

		{% csrf_token %}
		{% for hidden in userform.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		 
		{% for field in userform.visible_fields %}
            		{{ field.errors }}<br/>
            		<div class="col-xs-3">
            		{{ field.label }}
            		</div>
            		{{ field }}	
            		<br />
        		{% endfor %}
        		
        		<div>
        		<br />
        		<br />
        		<input type="submit"  value="下一步" id="sub"> 
        		<!-- <a href="/project_1/test/"><input type="button" id="sub" value="下一步" /></a> -->
        		<br />
        		</div>
 	      		
              </form>
              <br />
              <br />
  
</div>

	<!--
	<form id="register" method="post" action="">

		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		 
		{% for field in userform.visible_fields %}
    		{{ field.errors }}<br/>
    		{{ field.label }}
    		{{ field }}
    		<br />
		{% endfor %}

		<!-- {% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
		-->
		<!-- 
		{% for field in form %}
	            	{{ field.errors }}<br/>
	            	<span class="register">
	            	{{ field.help_text}}
	            	</span>
	            	{{ field }}  
	            	{% endfor %}
	            	- ->

		<input type="submit" value="Submit" />
	</form> -->

<div id="center">
<p >本网站meethere缘分来了<a href="/project_1/test/">www.meethere.com</a>版权所有。</p>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>